<div id="mobile-cart-icon-bubble" >
  <div 
    class="count_item absolute text-center place-content-center top-2 left-3 bg-[rgba(var(--colors-cart))] text-[rgba(var(--colors-cart-text))] font-medium h-5 w-5 ml-1 rounded-full text-[10px]{% if cart == empty %} hidden{% endif %}" 
    data-value="{{ cart.item_count }}"
  >
    {%- if cart.item_count < 100 -%}{{ cart.item_count }}{%- else -%}99+{%- endif -%}
  </div>
</div>